<ion-card >
  <ion-card-header>
    <ion-card-title>REGISTRO</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form #templateForm="ngForm" (ngSubmit)="agregarUsuario()" [ngClass]="{
      'form-invalid': templateForm.invalid,
      'form-valid': templateForm.valid,
      'form-dirty': templateForm.dirty,
      'form-touched': templateForm.touched
    }">
      <ion-item>
       <ion-input  [(ngModel)]="nuevoUsuario.usuario" name="usuario" required label="Usuario: "></ion-input>
      </ion-item>
      <ion-item>
       <ion-input [(ngModel)]="nuevoUsuario.password"  name="contraseña" required label="Contraseña: " type="password">  </ion-input>
      </ion-item>
      <ion-item>
      <ion-input [(ngModel)]="nuevoUsuario.confirmacionpassword"  name="confirmacioncontraseña" required label="Confirmacion Contraseña:"type="password"></ion-input>
     </ion-item>
      <br>
      <ion-button type="Submit">Registrarse</ion-button>
      </form>
  </ion-card-content>
</ion-card>

<ion-footer >
  <ion-toolbar>
      <ion-buttons >
          <ion-button [routerLink]="['/login']" > ¿Ya tienes una cuenta? Inicia Sesion</ion-button>
      </ion-buttons>
  </ion-toolbar>

</ion-footer>
