ion-card{
    margin-bottom: 1px;
}


.fotoYNombre{
    align-items: center;
}

.fotoPerfil {
    border-radius: 50%;
    width: 10%;
    height: auto;
    margin-right: 2vw;
}

.tresPuntos{
    align-items: right;
    font-weight: bold;
}

.fotosDelPerfil{
    margin-top: 3vw;
    width: 120%;
}