
  <ion-card>
    <ion-card-header>
      <ion-card-title>LOGIN</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="login()">

  
        <ion-item class="custom-input">
          <ion-input formControlName="email" [class.is-invalid]="usuarioInvalido" id="nombreUsuario" required label="Usuario: " label-placement="floating" fill="outline"></ion-input>
        </ion-item>
        <small *ngIf="usuarioInvalido">Usuario Invalido</small>
        <br><br>
        
        <ion-item class="custom-input">
          <ion-input formControlName="password" [class.is-invalid]="passInvalido" id="pass" required label="Contraseña:" type="password" label-placement="floating" fill="outline"></ion-input>
        </ion-item>
        <small *ngIf="passInvalido">Contraseña Invalida</small>
        <br><br>

        <button class="login" type="submit" [disabled]="form.invalid">Iniciar Sesion</button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-footer >
    <ion-toolbar>
        <ion-buttons >
            <ion-button [routerLink]="['/registro']" > ¿No tienes una cuenta?</ion-button>
            <ion-button [routerLink]="['/registro']" class="registrate"> Registrate</ion-button>
        </ion-buttons>
    </ion-toolbar>

  </ion-footer>
