

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>LOGIN</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form #templateForm="ngForm" (ngSubmit)="Ingresar()" [ngClass]="{
        'form-invalid': templateForm.invalid,
        'form-valid': templateForm.valid,
        'form-dirty': templateForm.dirty,
        'form-touched': templateForm.touched
      }">
        <ion-item>
         <ion-input  [(ngModel)]="Usuario.usuario" name="usuario" required label="Usuario: "></ion-input>
        </ion-item>
        <ion-item>
         <ion-input [(ngModel)]="Usuario.password"  name="contraseña" required label="Contraseña: " type="password">  </ion-input>
        </ion-item>
        <br>
        <ion-button type="Submit">Iniciar Sesion</ion-button>
        </form>
    </ion-card-content>
  </ion-card>

  <ion-footer color="primary">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/registro']" > ¿No tienes una cuenta? Registrate</ion-button>
        </ion-buttons>
    </ion-toolbar>

  </ion-footer>
