#fotoPerfil{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: solid 3px rgb(71, 255, 47);
    padding: 3px;
    Object-fit: cover;
}

.arroba{
    padding: 1vh;
}

ion-card{
    border-bottom: solid 3px gray;
    border-radius: none;
}
ion-col{
    text-align: center;
    margin: auto;
    display: block;
}

#nombrePerfil{
    float: left;
}

#descripcionPerfil{
    float: left;
}

img #imagenesPerfil{
    width: 100%;
}
