
<ion-content>
  <ion-card style="box-shadow: none !important; background: transparent !important; padding: 0% !important; margin: 0px !important;border-radius: 0px !important;">
    <ion-grid id="perfilGrid">
      <ion-row>
        <ion-item id="arrobaPerfil">
          @{{perfilEjemplo.nombrePerfil}}
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="{{perfilEjemplo.fotoPerfil}}" id="fotoPerfil">
        </ion-col>
        <ion-col class="estadisticas">
          {{perfilEjemplo.publicacionesPerfil}}<br><strong>Publicaciones</strong>
        </ion-col>
        <ion-col class="estadisticas">
          {{perfilEjemplo.seguidoresPerfil}}<br><strong>Seguidores</strong>
        </ion-col>
        <ion-col class="estadisticas">
          {{perfilEjemplo.seguidosPerfil}}<br><strong>Seguidos</strong>
        </ion-col>
      </ion-row>
       <ion-row>
        <ion-col size="3">
          <div id="nombrePerfil">{{perfilEjemplo.nombrePerfil}}</div>
        </ion-col>
        <ion-col size="9">
        </ion-col>
       </ion-row>
       <ion-row>
        <ion-col size="3">
          <div id="descripcionPerfil">{{perfilEjemplo.descripcionPerfil}}</div>
        </ion-col>
        <ion-col size="9"></ion-col>
       </ion-row>
       <ion-row>
        <ion-col>
          <ion-button id="editarPerfil">Editar perfil</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor="let foto of perfilEjemplo.fotosDelPerfil; index as i">
        <img [src]="foto" alt="" id="imagenesPerfil">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" [routerLink]="['/inicio']">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="Camara">
      <ion-icon name="Camera"></ion-icon>
      Foto
    </ion-tab-button>
    <ion-tab-button tab="perfil" [routerLink]="['/perfil']">
      <ion-icon name="person"></ion-icon>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>