
<ion-content>
  <ion-card style="box-shadow: none !important; background: transparent !important; padding: 0% !important; margin: 0px !important;border-radius: 0px !important;">
      
    <ion-grid id="perfilGrid" [fixed]="false">
      <ion-row>
        <div class="arrobaPerfil">
          @{{infoUsuario?.nombreUsuario}}
        </div>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="{{infoUsuario?.fotoPerfil}}" id="fotoPerfil">
        </ion-col>
        <ion-col class="estadisticas">
          {{infoUsuario?.publicaciones}}<br><strong>Publicaciones</strong>
        </ion-col>
        <ion-col class="estadisticas">
          {{infoUsuario?.seguidores}}<br><strong>Seguidores</strong>
        </ion-col>
        <ion-col class="estadisticas">
          {{infoUsuario?.seguidos}}<br><strong>Seguidos</strong>
        </ion-col>
      </ion-row>
       <ion-row>
        <ion-col size="3">
          <div id="nombrePerfil">{{infoUsuario?.nombreUsuario}}</div>
        </ion-col>
       </ion-row>
       <ion-row>
        <ion-col size="3">
          <div id="descripcionPerfil">{{infoUsuario?.descripcion}}</div>
        </ion-col>
       </ion-row>
       <ion-row>
        <ion-col>
          <ion-button (click)="editarPerfil()" id="editarPerfil">Editar perfil</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-grid >
    <ion-row>
      <ion-col size="3" *ngFor="let foto of infoUsuario?.fotos; index as i" class="fotosPerfil" style="--ion-grid-columns:9;">
        <img [src]="foto.source" alt="" id="imagenesPerfil">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button>
      <ion-icon name="home" (click)="irAInicio()"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button (click)="irACamara()">
      <ion-icon name="Camera"></ion-icon>
      Foto
    </ion-tab-button>
    <ion-tab-button (click)="irAPerfil()">
      <ion-icon name="person"></ion-icon>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>