#fotoPerfil{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    border: solid 3px rgb(71, 255, 47);
    padding: 3px;
    Object-fit: cover;
}

.arroba{
    padding: 1vh;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}
ion-card{
    border-bottom: solid 3px gray;
    border-radius: none;
}
ion-col{
    text-align: center;
    margin: auto;
    display: block;
    padding: 1px;
    
}

#nombrePerfil{
    font-size: 20px;
    float: left;
}

#descripcionPerfil{
    font-size: 15px;
    float: left;
}

#imagenesPerfil{
    Object-fit:cover;
    width: 20vh;
    height: 20vh;

}



#editarPerfil{
    --background: none;
    --border-radius: none;
    --padding-top: none;
    --padding-bottom: none;
    
    border-radius: 15px;
    background-color: gray;
    width: 350px;
    font-size: min(.85rem,25px);
    letter-spacing: 2.5px;
}

.fotosPerfil{
    display: flex;
    flex-direction: row;
    margin: 0;
    
}


